@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(255, 251, 243);
  --foreground: rgb(42, 45, 52);
  --yellow-h: rgb(235, 206, 63);
  --green-h: rgb(9, 124, 62);
  --blue-h: rgb(69, 144, 232);
  --red-h: rgb(178, 51, 26);
}

body {
  color: var(--foreground);
  background: var(--background);
}
